.container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .form {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgb(38, 63, 117);
    width: 500px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 18px;
  }
  
  .btn {
    background-color: transparent;
    border: 1px solid rgb(46, 112, 234);
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 6px;
    border: none;
  }
  
  .input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: transparent;
    font-size: 16px;
  }